<!DOCTYPE html>
<html>
<head>
  <title>Ramblr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= image_tag "earth-space.jpg" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
